html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    &::-webkit-scrollbar-track {
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #00dedf;
    }
}

.theme_wrapper {
    .nav_wrp {
        position: fixed;
        width: 150px;
        z-index: 9;
        padding-left: 20px;
        display: flex;
        height: 100vh;

        .nav_left {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        a {
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 14px;
            transition: all 0.2s ease-out;
            text-decoration: none;
            color: #00dedf;
            margin: 10px 5px;
            border: 2px solid #00dedf;

            &:hover,
            &:focus {

                border: 2px solid #00dedf;

                svg {
                    stroke: rgb(0, 0, 0);
                }

            }

            svg {
                width: 22px;
                height: 22px;
            }
        }

        a.active {
            background: rgba(0, 0, 0, 0.5);
            color: white;
        }
    }

    .banner_hero {
        position: relative;
        width: 100%;
        height: 100vh;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .banner_hed {
            position: relative;
            font-size: 15vw;
            text-align: center;
            line-height: 177px;
            text-transform: uppercase;
            font-weight: 800;
            color: #4c4c4c;

            .first_smrt {
                font-size: 15vw;
            }

            .last_words {
                font-size: 13.2vw;
                color: transparent;
                -webkit-text-stroke: 0.3vw #4c4c4c;
            }
        }

        .black {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #00dedf;
            mix-blend-mode: color-dodge;
        }
    }


    .services_wrapper {

        min-height: 450px;
        display: flex;
        align-items: center;
        margin: 5rem 0rem;
        background-color: #080808;

        h2 {
            font-weight: 600;
            position: relative;
            padding-bottom: 14px;
            margin-bottom: 35px;
            text-align: center;
            color: white;
        }

        .service_box {
            margin: 20px;
            padding: 40px 20px;
            text-align: center;
            transition: all 0.30s ease 0s;
            box-shadow: 0px 10px 40px rgb(5 64 107 / 10%);
            background-color: black;
            border: 2px solid black;
            &:hover {
                border: 2px solid #00dedf;

                .service_icon {
                    transform: translateY(-100%);
                    background-color: black;
                    border: 2px solid #00dedf;

                    .home {
                        stroke: #00dedf;
                    }
                }

                h3 {
                    top: -40px;
                    color: white;
                    opacity: 1;
                }

            }

            .service_icon {
                width: 70px;
                height: 70px;
                margin: 0 auto;
                font-size: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid #00dedf;
                line-height: 70px;
                transform: translateY(0);
                transition: all 0.30s ease 0s;

                .home {
                    stroke: #00dedf;
                }
            }

            h3 {
                position: relative;
                top: 40px;
                margin: 0;
                opacity: 0;
                color: #00dedf;
                font-size: 23px;
                transform: translateY(0%);
                transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
            }
        }





    }

    .about_wrapper {
        margin-top: 2rem;

        .image_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;


        }

        .abt_details {
            padding: 40px;

            .section_cate {
                color: #00dedf;
                font-size: 15px;
                font-weight: 100;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            h2 {
                font-weight: 600;
                position: relative;
                padding-bottom: 14px;
                margin-bottom: 25px;
                color: white;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    // transform: translateX(-50%);
                    width: 50px;
                    height: 3px;
                    background-color: #00dedf;
                    border-radius: 3px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 30px;
                    transform: translateX(30px);
                    width: 10px;
                    height: 3px;
                    background-color: #a0a0a0;
                    border-radius: 3px;

                }

            }

            p {
                margin: 20px 0px;
                color: #a0a0a0;
                font-size: 15px;
                line-height: 25px;
            }

            .check-list {
                margin: 15px 0px;
                padding-left: 0;

                li {
                    position: relative;
                    list-style-type: none;
                    padding-left: 2.5rem;
                    margin-bottom: 12px;
                    color: #a0a0a0;
                    font-size: 15px;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        width: 5px;
                        height: 11px;
                        border-width: 0 2px 2px 0;
                        border-style: solid;
                        border-color: #00dedf;
                        transform-origin: bottom left;
                        transform: rotate(45deg);
                    }
                }
            }

        }
    }

    .project_wrapper {
        overflow: hidden;
        position: relative;
        margin-bottom: 5rem;

        // ul
        .ul__list--inline {
            list-style: none;
            padding: 0;
            margin: 0;

            >li {
                display: inline-block;

            }
        }

        .ul__list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .sosmed__list {
            li {
                a {
                    width: 40px;
                    height: 40px;
                    transition: .5s;
                    border-radius: 50%;
                    display: inline-block;
                    position: relative;
                    font-size: 20px;
                    color: black;

                    &:hover {
                        color: white;
                        background-color: black;
                        box-shadow: 0px 10px 40px #3e3c3c7a;
                    }

                    i {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }


        /* slider */

        .images__slider {
            width: 320px !important;
            height: 400px;
            background-color: black;
            border: 2px solid #00dedf;
            padding: 25px;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 10px 40px rgb(5 64 107 / 10%);

            img {
                width: 270px;
                height: 150px;
                object-fit: cover;
                overflow: hidden;
                margin-bottom: 15px;
            }

            h3 {
                color: white;
                font-size: 20px;
                margin-bottom: 5px;
            }

            .category_name {
                color: #00dedf;
                font-size: 14px;
                font-weight: 100;
                margin-bottom: 10px;
            }

            .project_de {
                font-size: 12px;
                line-height: 22px;
                color: #979797;
                font-weight: 100;
                display: block;
                display: -webkit-box;
                max-width: 100%;
                margin: 0 auto;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .project_btn {
                background-color: #00dedf;
                color: rgb(0, 0, 0);
                width: 100%;
                font-size: 15px;
                text-decoration: none;
                text-align: center;
                min-height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px 0px;
            }

        }

        .slider__offset {
            width: 1000px;

            li {

                margin: 25px 0px;

            }
        }


        .bg__grub--slider {
            border: 2px solid #00dedf;
            background-color: rgba(0, 0, 0, 0.6705882353);
        }

        .slider_text {
            h2 {
                font-weight: 600;
                position: relative;
                padding-bottom: 14px;
                color: white;
                margin-bottom: 25px;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 30px;
                    transform: translateX(-50%);
                    width: 50px;
                    height: 3px;
                    background-color: #00dedf;
                    border-radius: 3px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 30px;
                    transform: translateX(30px);
                    width: 10px;
                    height: 3px;
                    background-color: white;
                    border-radius: 3px;

                }

            }

            p {
                margin: 20px 0px;
                color: white;
                font-size: 15px;
                line-height: 25px;
            }
        }

        .slider__arrow {
            li {
                width: 40px;
                height: 40px;
                color: #00dedf;
                transition: .5s;

                &:hover {

                    cursor: pointer;
                }

            }
        }
    }

    .location_mob {
        margin-bottom: 5rem;

        .container {
            background-image: url(../images/wrld_map_small.png);
            min-height: 340px;
            position: relative;
            background-repeat: no-repeat;
            background-position: center;
        }

        .location_two {
            margin: 15px 0px;
            padding: 30px;
            box-shadow: 0px 10px 40px rgb(5 64 107 / 10%);
            border: 2px solid #00dedf;
            overflow: hidden;
            min-height: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 1s;

            &:hover {
                text-decoration: none;
                transition: all .5s;
                transform: translateY(-15px);
                background-color: #000000ab;
            }

            img {
                width: 40px;
                height: auto;

            }

        }

        .location_mob_detail {
            padding: 45px;

            .section_cate {
                color: #00dedf;
                font-size: 15px;
                font-weight: 100;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            h2 {
                font-weight: 600;
                position: relative;
                padding-bottom: 14px;
                margin-bottom: 25px;
                color: white;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 30px;
                    transform: translateX(-50%);
                    width: 50px;
                    height: 3px;
                    background-color: #00dedf;
                    border-radius: 3px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 30px;
                    transform: translateX(30px);
                    width: 10px;
                    height: 3px;
                    background-color: #a0a0a0;
                    border-radius: 3px;

                }

            }

            p {
                margin: 20px 0px;
                color: #a0a0a0;
                font-size: 15px;
                line-height: 25px;
            }

        }

        .dev-tools {
            padding: 15px;
        }
    }

    .designing_wrapper {
        margin-bottom: 5rem;

        .container {
            background-image: url(../images/wrld_map_small.png);
            min-height: 450px;
            position: relative;
            background-repeat: no-repeat;
            background-position: center;
        }

        .location_two {
            margin: 15px 0px;
            padding: 30px;
            box-shadow: 0px 10px 40px rgb(5 64 107 / 10%);
            border: 2px solid #00dedf;
            overflow: hidden;
            min-height: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 1s;

            &:hover {
                text-decoration: none;
                transition: all .5s;
                transform: translateY(-15px);
                background-color: rgba(0, 0, 0, 0.6705882353);
            }

            img {
                width: 40px;
                height: auto;

            }

        }

        .designing_detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            .section_cate {
                color: #00dedf;
                font-size: 15px;
                font-weight: 100;
                margin-bottom: 0px;
                text-transform: uppercase;
            }

            h2 {
                font-weight: 600;
                position: relative;
                padding-bottom: 14px;
                margin-bottom: 10px;
                color: white;

            }

            p {
                margin-bottom: 20px;
                color: #a0a0a0;
                font-size: 15px;
                line-height: 25px;
                max-width: 60%;
            }

        }

        .d_tools {
            padding: 25px 0px;
        }

        .portfolio-menu {
            margin: 45px 0px 45px 0px;

            ul {
                padding-left: 0;
                margin-bottom: 30px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                li {
                    margin: 0;
                    list-style: none;
                    padding: 10px 15px;
                    cursor: pointer;
                    transition: all .5s ease;
                    border-radius: 0;
                    margin: 10px;
                    font-size: 15px;
                }

                .btn-outline-dark {
                    color: white;
                    border: none;
                    box-shadow: 0px 10px 40px rgb(5 64 107 / 10%);
                    border: 2px solid #00dedf;
                    min-width: 100px;

                    &:hover,
                    &:focus {
                        color: black;
                        border-color: #00dedf;
                        background-color: #00dedf;
                    }
                }

                .active {
                    color: white;
                    border-color: #00dedf;
                    background-color: #00dedf;
                }
            }
        }

        .portfolio-item {
            .item {
                float: left;
                margin-bottom: 10px;
            }
        }
    }

    .web_designing {

        margin-bottom: 5rem;

        ul.blocks {
            list-style: none;
            margin: 0;

            li.block {
                display: inline-block;
                vertical-align: bottom;
                position: relative;
                margin-bottom: 50px;

                .window.macpro {
                    width: 415px;
                    position: absolute;
                    top: 17px;
                    left: 19px;

                    img {
                        width: 100%;
                        object-fit: cover;
                        object-position: top;
                        height: 248px;
                    }
                }

                .window.imac {
                    width: 292px;
                    position: absolute;
                    top: 12px;
                    left: 79px;

                    img {
                        width: 100%;
                        object-fit: cover;
                        object-position: top;
                        height: 182px;
                    }
                }

                .window img {
                    transition: 5s all ease;

                    &:hover {
                        object-position: bottom;
                    }
                }
            }

            svg {
                width: 450px;
            }
        }




    }

    .footer {
        background-color: #181818;
        padding-top: 20px;
        color: white;

        .get_in_touch {
            padding-top: 30px;

            .social_media {
                margin-bottom: 35px;

                ul {
                    margin: 0;
                    display: flex;

                    li {
                        display: flex;
                        margin-right: 30px;
                        color: white;
                        font-size: 15px;
                        height: 40px;
                        width: 40px;
                        border: 1px solid white;
                        justify-content: center;
                        align-items: center;

                        a {
                            color: white;
                        }

                        &:hover {
                            background-color: #00dedf;
                            color: white;
                            transition: .5s ease;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .copy_right {
            background-color: #262626;
            padding: 20px 0px;

            p {
                margin: 0;

            }
        }
    }

    .back-to-top {
        position: fixed;
        bottom: 8px;
        right: 25px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        background-color: #f7f7f7;
        z-index: 99;

        &:focus {
            box-shadow: none;
        }
    }

}
